<nav id="navbar" class="navbar fixed-top navbar-expand-lg bg-light">
  <div class="container-fluid ps-5 pe-5">
    <a class="navbar-brand" role="button" href="#"
      ><img src="" /> <i class="bi bi-behance"></i> RIJNDAEL</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-1">
        <li class="nav-item">
          <a class="nav-link" href="/dokter/anak"
            ><i class="bi bi-person-video"></i> Anak</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dokter/dalam"
            ><i class="bi bi-activity"></i> Penyakit Dalam</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dokter/jantung"
            ><i class="bi bi-heart-pulse-fill"></i> Penyakit Jantung</a
          >
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>
